*.pdf 
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.aux
*.out
*.docx
*.rtf
*.bbl
*.blg
*.nav
*.snm
*.toc
Essays/Template/essay_template.bib-save-2024.04.14:17.08.03
Essays/Template/essay_template.bib-save-2024.04.14:17.17.13
Essays/Template/essay_template.bib-save-2024.04.14:17.17.33
RecLetter/
PSets/01_PSet/24.118_pset1_answers.tex
PSets/02_PSet/24.118_pset2_answers.tex
PSets/03_PSet/24.118_pset3_answers.tex
PSets/04_PSet/24.118_pset4_answers.tex
PSets/05_PSet/24.118_pset5_answers.tex
Exam
exam/24.118_final_exam.tex
problem_sets/01_pset/24.118_pset1_answers.tex
problem_sets/02_pset/24.118_pset2_answers.tex
problem_sets/03_pset/24.118_pset3_answers.tex
problem_sets/04_pset/24.118_pset4_answers.tex
problem_sets/05_pset/24.118_pset5_answers.tex
rec_letters/Kenneth
rec_letters/kenneth/teaching_letter.tex
