/* CSS Document */

body {
		margin-left: 5%; margin-right: 5%; background: #ffffff; 
		color: #000066; font-family: "trebuchet ms", verdana, arial, sans-serif; font-size: 13px;
		font-style: normal;
		}
		
p	{
	font-family: "trebuchet ms", verdana, arial, sans-serif; font-size: 13px;
	}
		

div.text{
		}
		
div.text p {
		background: #ffffff; 
		color: #000066; font-family: "trebuchet ms", verdana, arial, sans-serif; font-size: 13px;
		font-style: normal;
		}

ul, li, dl, dd, dt 	{color: #000066; background: #fff;font-family: "trebuchet ms", verdana, arial, sans-serif; font-size: 13px;
		font-style: normal;
		}
		
ul {
		list-style: disc;
		}
li.space 	{
			line-height: 1.6
			}
		
		
ul.libraries {
			list-style: square;}
		
h1 {font-size: 18px; color: #000066; background: #fff; font-family: "trebuchet ms", verdana, arial, sans-serif;}
h2 {font-size: 16px; color: #000066; background: #fff; font-family: "trebuchet ms", verdana, arial, sans-serif;}
h3 {font-size: 14px; color: #000066; background: #fff; font-family: "trebuchet ms", verdana, arial, sans-serif;}
h4 {font-size: 14px; color: #000066; background: #fff; font-family: "trebuchet ms", verdana, arial, sans-serif;}
h5 {font-size: 13px; color: #000066; background: #fff; font-family: "trebuchet ms", verdana, arial, sans-serif;}
h6 {font-size: 13px; color: #000066; background: #fff; font-family: "trebuchet ms", verdana, arial, sans-serif;}

hr {
	height: 1px; width: 100%; color: #6666cc; background: #6666cc;
	}

a:link {
	color: #6666cc; background: #fff; text-decoration: none; 
	}
a:visited {
	color: #6666cc; background: #fff; text-decoration: none; 
	}
a:active {
	color: #6666cc; background: #fff; text-decoration: none; 
	} 
a:hover { 
	color: #F76541; background: #fff; text-decoration: underline; background: white;
	}

/* MIT [large/small/smallest] philosophy [large/small] title [small] */


em.mitlarge {
			color: #999999; background: #fff; 
			font-family: Impact, Helvetica Narrow, Helvetica, Geneva, sans-serif; 
			font-size: 40px; 
			font-style: normal;
			}

em.philosophylarge {
					color:#6666cc; background: #fff; 
					font-family: Impact, Helvetica Narrow, Helvetica, Geneva, sans-serif; 
					font-size: 36px;
					font-style: normal;
					} 

em.mitlarge a:link, em.mitsmall a:link, em.philosophysmall a:link, em.mitsmallest a:link, 
div.deptlingphil a:link { 
	color: #999999; background: #fff; text-decoration: none; background: white;
	}
	
em.mitsmallest {
				color: #999999; background: #fff; font-family: Impact, Helvetica Narrow, Helvetica, Geneva, sans-serif; 
				font-size: 14px; font-style: normal; 
				}

em.mitlarge a:visited, em.mitsmall a:visited, em.philosophysmall a:visited, 
em.mitsmallest a:visited, div.deptlingphil a:visited {
						color: #999999; background: #fff; text-decoration: none; 
						}
em.mitlarge a:active, em.mitsmall a:active, em.philosophysmall a:active,
em.mitsmallest a:active, div.deptlingphil a:active {
					color: #999999; background: #fff; text-decoration: none; 
						} 
em.mitlarge a:hover, em.mitsmall a:hover, em.philosophysmall a:hover, em.mitsmallest a:hover, 
div.deptlingphil a:hover { 
		color: #666666; background: #fff; text-decoration: none; background: white;
		}
	

em.mitsmall {
			color: #6666cc; background: #fff; 
			font-family: Impact, Helvetica Narrow, Helvetica, Geneva, sans-serif; 
			font-size: 30px; font-style: normal; 
			}
 
 
 
em.philosophysmall {
	color:#999999; background: #fff; font-family: Impact, 
	Helvetica Narrow, Helvetica, Geneva, sans-serif; 
	font-size: 30px;
	font-style: normal; 
	}

em.titlesmall {color:#6666cc; background: #fff; font: 30px Impact, 
Helvetica Narrow, Helvetica, Geneva, sans-serif; 
font-style: normal;
}
		
A IMG { 
	color: white ; background: white;} /* The only way to hide the border in NS 4.x */

		
/* The OLD homepage table [the current home page has its own style sheet */

div.maintitle {margin-bottom: 0px;}

td.menu {font-size:14px;
		text-align: left; padding-bottom: 10px; padding-left: 2px; color: #999; background: #fff; 
		font-family: "trebuchet ms", verdana, arial,  sans-serif; 
		white-space: nowrap; font-weight: 400;
	
		} 
		
div.deptlingphil {font-size: 18px; font-family: impact, Helvetica Narrow, Helvetica, Geneva, sans-serif; 
font-weight: 400; padding-left: 80px; padding-bottom: 24px; padding-top: 5px; 
color: #999; background: #fff; }
	
		
div.title {font-size: 14px; font-family: "trebuchet ms", verdana, arial, sans-serif; font-weight: 400; }

div.subtitle {font-size: 14px; font-family: "trebuchet ms", verdana, arial, sans-serif; font-weight: 400;}

div.subtitlenolink {font-size: 14px; font-family: "trebuchet ms", verdana, arial, sans-serif; font-weight: 400; color: #6666cc;}

td.stata { 
		font-size: 10px; font-family: "trebuchet ms", verdana, arial, sans-serif; text-align:right;
		white-space: nowrap; color: #999;
		}
		

div.addresshome {}

div.addresshome p {
	font-size: 12px; padding-left: 65px; 
		color: #666666; font-family: "trebuchet ms", verdana, arial, sans-serif; white-space: nowrap; background: #fff;
		}
		
div.addresshome  a:link {
	color: #6666cc; background: #fff; text-decoration: none; 
	}
div.addresshome a:visited {
	color: #6666cc; background: #fff; text-decoration: none; 
	}
div.addresshome a:active {
	color: #6666cc; background: #fff; text-decoration: none; 
	} 
		
div.addresshome a:hover { 
	color: #F76541; text-decoration: underline; background: #fff;
	}
	
form.formhome {padding-left: 65px; 
				}

/* end OLD homepage */		
		
div.address {
	}
	
div.address p {
	font-size:13px; text-align: center;
		color: #666666; font-family: "trebuchet ms", verdana, arial, sans-serif; white-space: nowrap; background: #fff;
		}
		
div.address  a:link {
	color: #6666cc; background: #fff; text-decoration: none; 
	}
div.address a:visited {
	color: #6666cc; background: #fff; text-decoration: none; 
	}
div.address a:active {
	color: #6666cc; background: #fff; text-decoration: none; 
	} 
		
div.address a:hover { 
	color: #F76541; text-decoration: underline; background: #fff;
	}
		
address {font-family: "trebuchet ms", verdana, arial, sans-serif; font-size: 10px; text-align: left; width: 100%;
		white-space: nowrap; font-style: normal; color: #666; background: #fff;
		}
		
		
font.highlight {
	color: #E47833; background: #fff;  
	} /* used on program page etc. */


/* The subjects table */


div.table { 
		}

td { 
	color: #000066; background: #fff; font-family: "trebuchet ms", verdana, arial, sans-serif; 
	font-size: 13px;
	font-style: normal; 
	}

/* main faculty page */

dl.faculty {margin-left: 10%} 

/*dt.faculty {background: #ffffff; 
		color: #000066; font-family: "trebuchet ms", verdana, arial, sans-serif; 
		font-size: 14px;
		font-style: normal; }
		
dd.faculty {margin-left: 5%; background: #ffffff; 
		color: #000066; font-family: "trebuchet ms", verdana, arial, sans-serif; font-size: 13px;
		font-style: normal;} <<padding is buggy in ns 4.x>>*/
		


/* gradstudent page */

th.student {
			color: #999; background: #fff; font-family: "trebuchet ms", verdana, arial, sans-serif; 
			font-size: 13px;
			font-style: normal;
			text-align: left;
			white-space: nowrap; padding-top: 14px}

td.student {
			color: #000066; background: #fff; font-family: "trebuchet ms", verdana, arial, sans-serif; 
			font-size: 13px;
			font-style: normal;
			text-align: left;
			white-space: nowrap; padding-top: 3px;}


/* individual faculty pages */


th.faculty {
			color: #999; background: #fff; font-family: "trebuchet ms", verdana, arial, sans-serif; 
			font-size: 13px;
			font-style: normal;
			text-align: center;
			white-space: nowrap; padding-top: 14px}
		
td.faculty {
			color: #000066; background: #fff; font-family: "trebuchet ms", verdana, arial, sans-serif; 
			font-size: 13px;
			font-style: normal;
			text-align: center;
			white-space: nowrap; padding-top: 3px;}


td.faculty a:hover {color: #F76541; background: #fff; text-decoration: underline; background: #ffffff;}


/* undergraduate */


div.lingphil { 
				border: 1px ; 
 				padding-top:3px; padding-bottom: 3px;
				 background: #999; 
 				color: white; font-family: Impact, Helvetica Narrow, Helvetica, Geneva, sans-serif; 
 				font-size: 18px; 
				font-style: normal; padding-left: 3em; width: 30em;
}



div.major { 
 			border:1px; 
 			padding-top:3px;padding-bottom: 3px;
			 background: #ccccff; color: white; 
 			font-family: Impact, Helvetica Narrow, Helvetica, Geneva, sans-serif; font-size: 18px; 
			font-style: normal; padding-left: 3em; width: 30em;
			}



	
em.ling {
		color: #660000; background: #999; font-style: normal;
		}

em.phil {
		font-style: normal; color: #6666cc; background: #999;
		}

em.majors {
			font-style: normal; color: #fff; background: #ccccff;
			}

em.ling a:link {
				color: #660000; background: #999; text-decoration: none; 
				}
	
em.majors a:link {
				color: #fff; background: #ccccff; text-decoration: none; 
				}
	
em.majors a:visited {
					color: #fff; background: #ccccff; text-decoration: none; 
					}
	
em.majors a:active {
					color: #fbb917; background: #ccccff; text-decoration: none; 
					}
	
em.phil a:link {
				color: #6666cc;background:  #999; text-decoration: none; 
				}	

em.ling a:visited {
				color: #660000; background: #999; text-decoration: none; 
				}
	
em.phil a:visited {
				color: #6666cc; background: #999; text-decoration: none; 
					}
					
em.ling a:active, em.phil a:active {
									color: #ffff00; background: #999; text-decoration: none; 
									}
									 
em.ling a:hover, em.phil a:hover { 
								color: #fbb917; text-decoration: none; background: #999; 
	
								}
	
em.majors a:hover	{ 
				color: #fbb917; text-decoration: none; background: #ccccff;
				} 	
	
	
/* misc. links page */	

strong.links {
				line-height: 1.4;
				}
	